html {
  background-color: rgb(211, 207, 207);
  font-family: Helvetica, "Ubuntu", Arial, sans-serif;
  width: 500px;
  height: auto;
}

h1 {
  font-size: 2em;
}

a {
  color: #0066cc;
  text-decoration: underline;
}

a:hover {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #081163;
}

.mainPopup {
  padding: 10px;
}

.btn {
  position: relative;
  display: block;
  width: 150px;
  margin: 6px auto;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform-style: flat;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 250ms ease-out;
}

.paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
}

.raise-flatten {
  border-color: #fff;
  box-shadow: none;
}

.raise-flatten:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

.raise-flatten:hover {
  border-color: #dedede;
}

.raise-flatten:hover:before {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(128, 128, 128, 0.1) inset;
}

#displayQR {
  text-align: center;
}

#qr-input {
  text-align: center;
}

#responsiveView {
  text-align: center;
}

input {
  padding: 4px;
}